.profileTop{
    display: flex;
}
.profileBody{
    margin: 0 auto;
    border: 1px red solid;
    width: 70%
}
.profileEdit{
    text-align: center;
    margin: 12px;
}
.profileUsername{
    font-size: 23px;
}
.profilePic{
    width: 151px;
    height: 162px;
}
.editbutn{
    margin-top: 4px;
    width: 100px;
    font-weight: 600;
    border-radius: 4px;
}
.followers{
    display: flex;
    text-align: center;
    margin-left: 25px;
    justify-content: space-between;
}
.followers > div{
    margin: 0 3px;
}
.bio{
    margin-top: 5px;
    margin-left: 25px;
    width: 200px;
}
.ProfileName{
    margin-top: 5px;
    margin-left: 25px;
    font-weight: bold;
    font-size: 18px;
}
hr{
    margin-top: 50px;
    border: 1px#8e8e8e solid;
    width: 100% 
}


@media (max-width:801px){
    .profileBody{
        margin: 0;
    }
    .editbutn{
        width: 200px;
        font-weight: 600;
        border-radius: 4px;
    }
}